@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');


* {
    margin: 0 auto;
    font-family: 'Lora', serif;
}

.intro-image {
    background-image: url(France-bodyimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

h1 {
    font-size: 5em;
    text-align: center;
    padding-top: 30px;
    color: rgb(1, 1, 39);
}

main {
    height: 250px;
    background-color: black;
}

p {
    font-size: 60px;
    font-weight: bold;
    color: red;
    text-align: center;

}

.dropdown {
    height: 668px;
    background-image: url(eur-france-strasbourg.jpeg);
    background-size: cover;
    background-position: center;
}

.dropdown-item:hover {
    color: red;
}

.dropdown-item {
    font-size: 1.5em;
    font-weight: bold;
}